.tSectionBtn {
   color: white;
   font-family: inherit;
   font-size: 0.4375em;
   vertical-align: center;
   line-height: 1.2;
   display: flex;
   align-items: center;
   gap: 0.35em;
   border-radius: 0.35em;
   border: none;
   outline: none;
   background-color: var(--darker-black);
   box-shadow: var(--box-shadow);
   padding: 0.234vw 0.35em;
   transition: all 0.3s ease-out;
}

.tSectionBtn.active {
   background-color: var(--highlight-black);
}

.tSectionBtn:hover {
   cursor: pointer;
   background-color: var(--highlight-black);
}

.tSectionBtn_deleteIcon {
   margin-left: auto;
}

.tSectionBtn_deleteIcon:hover {
   filter: brightness(80%);
}

.tSectionBtn_titleInput {
   font-family: inherit;
   font-size: inherit;
   outline: none;
   border: none;
   color-scheme: dark;
}

@media (max-width: 1024px) {
}
