.main {
   background-color: var(--base-black);
   padding: calc(var(--header-main-gap) / 2) var(--general-sides-padding) 0
      var(--general-sides-padding);

   display: flex;
   flex-direction: row;
   gap: 0.742vw;
   box-sizing: border-box;
   height: var(--main-height);
}

.main_content {
   display: flex;
   flex-direction: row;
   gap: 0.742vw;
   padding: var(--main-padding);
   border-radius: 1.125em 1.125em 0 0;
   background-color: var(--base-black);
   box-shadow: var(--box-shadow);
   box-sizing: border-box;
   height: var(--main-height);
}
