.header {
   background-color: var(--base-black);
   padding: 0 var(--general-sides-padding) calc(var(--header-main-gap) / 2);
}

.header_content {
   display: flex;
   justify-content: space-between;

   padding: 0.9375em 1.172vw 0.9375em 1.172vw;

   background-color: var(--base-black);

   border-radius: 0 0 0.46em 0.46em;
   box-shadow: var(--box-shadow);
}

.header_pageName,
.header_userInfo {
   display: inherit;
   align-items: center;
   gap: 0.781vw;
}

.header_dateTime {
   font-size: 0.6875em;
}
