.sideMenuContainer {
   display: flex;
   flex-direction: column;
   gap: 0.3125em;
   background-color: var(--base-black);
   box-shadow: var(--box-shadow);
   padding: 0.9375em 0.938vw;
   border-radius: 0.46em;
}

.sideMenu_addBtn {
   font-family: inherit;
   font-size: 0.4375em;
   display: flex;
   align-items: center;
   gap: 0.35em;
   border-radius: 0.35em;
   border: none;
   outline: none;
   background-color: var(--base-yellow);
   padding: 0.234vw 0.35em;
   transition: all 0.3s ease-out;
   width: 9.752vw;
   box-shadow: var(--box-shadow);
   vertical-align: center;
   line-height: 1.2;
}

.sideMenu_addBtn:hover {
   cursor: pointer;
   background-color: var(--highlight-yellow);
}
