@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
   --base-black: #121212;
   --base-yellow: #ffffa9;
   --highlight-yellow: #e4e597;
   --highlight-black: #282828;
   --darker-black: #101010;
   --checkbox-color: #ffff7b;
   --base-red: #ff623e;

   --priority-green: #52ff3f;
   --priority-yellow: #ffff42;
   --priority-red: #ff623e;

   --box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);

   --general-sides-padding: 10vw;
   --header-height: 3.625em;
   --header-main-gap: 16px;
   --main-height: calc(
      100vh - var(--header-height) - var(--header-main-gap) / 2
   );
}

body {
   font-family: "Plus Jakarta Sans", sans-serif;
   color: white;
   font-size: 2rem;
}

.hidden {
   display: none;
}

.main {
   display: flex;
   flex-direction: row;
   box-sizing: border-box;
   gap: 0.742vw;
   height: var(--main-height);
   background-color: var(--base-black);
   padding-top: calc(var(--header-main-gap) / 2);
   padding-left: var(--general-sides-padding);
   padding-right: var(--general-sides-padding);
}

@media (max-width: 1440px) {
   .main {
      padding-left: 2vw;
      padding-right: 2vw;
   }
}

@media (max-width: 768px) {
   .main {
      flex-direction: column-reverse;
      gap: 1.5vw;
   }
}
