.header {
   background-color: var(--base-black);
   padding-left: var(--general-sides-padding);
   padding-right: var(--general-sides-padding);
   padding-bottom: calc(var(--header-main-gap) / 2);
}

.header_content {
   display: flex;
   justify-content: space-between;
   padding: 0.9375em 1.172vw 0.9375em 2vw;
   border-radius: 0 0 0.46em 0.46em;
   background-color: var(--base-black);
   box-shadow: var(--box-shadow);
}

.header_userInfo {
   display: inherit;
   align-items: center;
   gap: 20px;
}

.header_pageName {
   display: inherit;
   align-items: center;
   gap: 10px;
}

.header_dateTime {
   font-size: 0.6875em;
}

.header_profileBtn {
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 100%;
   width: 56px;
   height: 56px;
   border: none;
   background-color: var(--base-black);
   outline: none;
   transition: all 0.3s ease-out;
   box-shadow: var(--box-shadow);
}

.header_profileBtn:hover {
   box-shadow: 0px 0px 5px var(--base-yellow);
   cursor: pointer;
}

.header_profileBtn.highlight {
   box-shadow: 0px 0px 5px var(--base-yellow);
}

.header_logo {
   height: 56px;
   width: auto;
}

.header_userAvatar {
   width: 56px;
   height: 56px;
   border-radius: 50%;
}

@media (max-width: 1440px) {
   .header {
      padding-left: 2vw;
      padding-right: 2vw;
   }

   .header_content {
      padding-left: 20px;
      padding-right: 20px;
   }
}

@media (max-width: 768px) {
   .header_pageName span {
      display: none;
   }
}
